/*CONTAINERS*/
.categories{
	width: 290px;
	height: 1000px;
	float: left;
	overflow: hidden;
	margin: -20px 10px -10px 0;
	font-family: 'Microsoft Yi Baiti';
}
.library_shelf{
	margin: 30px 340px;
}
.library_section{
	width: 618px;
	height: auto;
	font-family: 'Microsoft Yi Baiti';
}
.course_cat{
	width: 618px;
	height: 20px;
	margin: -7px 0 25px 0;
	padding-bottom: 10px;
	font-family: 'Microsoft Yi Baiti';
	font-size: 28px;
}
/*CUSTOM*/
.library_section label{
  height: 25px;
  text-align: left;
  text-decoration: underline;
  padding-top: 2px;
  font-size: 20px;
}
.categories table{
	font-size: 20px;
	margin: 15px 14px;
}
.categories th{
	font-size: 26px;
	text-align: left;
	padding-bottom: 15px;
	border-bottom: #ccc solid 1px;
}
td{
	padding: 8px 5px 8px 5px;
}
.categories a{
	text-decoration: none;
	color: gray;
}
.categories td:hover{
	background-color: #DEDCDC;
}
#lib_prev_next{
	position: relative;
  	float: right;
  	margin-right: -20px;
	margin-right: -320px;
	font-family: 'Microsoft Yi Baiti';
}
#tag_results{
	font-family: 'Microsoft Yi Baiti';
	font-size: 28px;
	padding-left: 23px;
}
#ID_label{
	font-family: 'GiovanniITCTT';
	padding: 0;
	font-size: 30px;
	color: #A5A2A1;
}