.result_section{
	margin-top: 9px;
	width: 970px;
	height: 800px;
	margin: 20px 17px;
	font-size: 20px;
  font-family: 'Microsoft Yi Baiti';
}

/*------CUSTOMS------*/
.sort_result ul{
	padding: 10px;
	color: #502518;
}
.sort_result li {
	list-style-type: none;
	display: inline-block;
}
.sort_result a{
	font-family: 'Playfair Display';
	font-size: 26px;
	padding: 0 10px 0 10px;
	font-weight: 500;
}
#res_prev_next{
  float: right;
  font-size: 15px;
  padding-bottom: 5px;
}

/*USER RESULTS*/
#user{
  height: 90px;
}
#user_label, #seller_pic{
  display: inline;
}
#no_line,#no_line2{
  display: block;
  font-family: 'Raleway Light';
  margin-left: 84px;
  color: gray;
  text-decoration: none;
}
#no_line{
  font-size: 25px;
  margin-top: -70px;
}
#no_line a{
  font-weight: 600;
  color: black;
}
#user_label a:hover{
  text-decoration: underline;
}
#seller_pic{
  width: 75px;
  height: 75px;
  padding: 5px;
}
#res_label{
  font-family: 'GiovanniITCTT';
}
#res_label{
  color: #AF826D;
}

/*BOOTSTRAP*/
.sort_result {
  border-bottom: 1px solid #ddd;
  height: 45px;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px;
}
.nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
  background-color: #4A2C1E;
  color: white;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: white;
  cursor: default;
  background-color: #4A2C1E;
  /*border: 1px solid #ddd;*/
  border-bottom-color: transparent;
}

.tab-content > .tab-pane {
  /*display: none;*/
}

.fade {
  opacity: 1;
/*  -webkit-transition: opacity .15s linear;
       -o-transition: opacity .15s linear;
          transition: opacity .15s linear;
}*/
.fade.in {
  opacity: 1;
}