.list_section{
	/*background-color: red;*/
	margin: 20px 22px;
	font-family: 'Raleway Light';
	font-size: 23px;
}
.list_content{
	font-family: 'Raleway Light';
	background-color: rgba(104,66,55,0.1);
	border-radius: 4px;
	border: 1px solid rgba(104,66,55,0.2);
	height: 110px;
	margin-bottom: 10px;
}
#aside2{
	background-color: blue;
	margin: -105px 90px;
}
.foot{
	float: right;
}
#proceed{
	padding-top: 10px;
	width: 110px;
	margin-left: 790px;	
}
#proceed:hover{
	text-decoration: underline;
}

/*----------CUSTOMS--------*/ 
#content{
	font-size: 20px;
	margin: -105px 90px;
}
#thumbnail{
	width: 65px;
	height: 90px;
	padding: 10px;
}
#price{
	font-family: 'Raleway Medium';
}
#accname{
	font-size: 18px;
	color: gray;
}
.foot content{
	font-family: 'Raleway Medium';
}
.proceed form{
	text-decoration: none;
    color: gray;
    margin-left: 710px;
    margin-top: 25px;
}
.proceed a{
	font-size: 15;
}
#action2{
	background-color: #d9534f;
	border-color: #d43f3a;
}
#action2:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}