/*CONTAINERS*/
.set_section{
    width: 700px;
    height: 850px;
    margin: -20px 140px;
    font-family: 'Raleway Light';
    display: block;
    font-size: 20px;
    padding: 5px;
}
.upload_center{
    width: 180px;
}
#input1{
    z-index: 1;
    left: 80px;
}
#field1{
    z-index: 1;
    left: -220px;
    top: 300px;
    border-top: 1px solid gray;
}
.action_set{
    width: 110px;
    margin: -4px 100px;
    padding-bottom: 6px;
}
.set-btn-container{
    width: 200px;
    height: 40px;
    margin: 580px 440px;
    position: relative;
}
.data_section{
    width: 480px;
    height: auto;
    padding-left: 10px;
    padding-right: 20px;
    float: right;
}
.data{
    margin-top: -20px;
    padding: 20px 5px;
}
.data span{
    display: block;
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.set_section aside{
    width: 170px;
    padding-left: 15px;
    float: left;
}
.box,.edit_user_pic_section, .box input[type=text]{
    margin-left: 184px;
}
/*CUSTOM EDITS*/
#user_pic, #user_pic_edit{
    width: 170px;
    height: 170px;
}
#modal_label{
    margin-left: 170px;
    padding-bottom: 4px;
}
#modal_label2{
    margin-left: 155px;
}
.box div{
    padding-bottom: 10px;
}
.fileUpload {
    overflow: hidden;
    margin-left: 232px;
    margin-top: -3px;
}
.fileUpload input[type=file] {
    position: relative;
    width: 7px;
    height: 2px;
    font-size: 5px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
#user_pic{
    margin: 60px -2px;
}
#user_pic_edit{
    margin-left: 15px;
    padding-bottom: 10px;
}
.data_section h2{
    padding: 5px;
    background-color: rgba(0,0,0,0.1);
}
.data label, .data content{
    display: inline;
}
.data label{
    font-weight: 700;
    letter-spacing: 2px;
}
#contact{
    border: none;
}
#multi_inputs{
    display: block;
}
#multi_inputs content {
    padding-left: 15px;
}
#perso content{
    padding-left: 20px;
    font-size: 18px;
}
.settings{
    font-family: 'GiovanniITCTT';
    margin-left: 150px;
    margin-bottom: 15px;
    font-size: 50px;
    width: auto;
}