body{
	background-color: black;
	margin: 0;
	padding: 0;
}
.filter{
	background-color: rgba(255,255,255, 0.28);
	margin-top: 60px;
	width: 100%;
	height: 520px;
	
}
#welcome_header{
	color:#2C1D18;
	font-family:'GiovanniITCTT';
	font-size: 75px;
	position: relative;
	top: 170px;
	margin-top: 50px;
	margin-left: 30px;
}
#header_desc{
	font-family: 'URWLatinoT';
	font-size: 30px;
	position: relative;
	display: block;
	top: 140px;
	margin-top: 40px;
	margin-left: 40px;
	color: #333130;
}
#second{
  color: #837390;
}
#video_position{
	position: absolute;
    left:0;
	top: 60;
	z-index: -1;
	overflow: hidden;
	width: 100%;
	height: 520px;
	margin:0;
	
}
footer{
	bottom: 0;
	right: 0;
	float: right;
	position: fixed;
	padding-bottom: 5px;
	padding-right: 8px;
	font-family: 'Microsoft Yi Baiti';
	font-size: 12px;
	color: #d8c6e7;
	display: block;
}
#img_pos{
	z-index: 1;
	position: fixed;
	width: 425px;
	height: 550px;
	top: 10;
	right: 64;
}
#log_header{
	z-index: 1;
	position: fixed;
	top: 245;
	right: 140;
	font-size: 21px;
	color: white;
	font-family: 'URWLatinoT';
}
#log_pos{
	z-index: 1;
	position: fixed;
	top: 286;
	right: 196;
	width: 120px;
	height: 45px;
}
.log_sign:hover{
	transition: 0.2s all linear;
    -webkit-filter: drop-shadow(3px 3px 3px #222);
    filter: drop-shadow(2px 1px 2px #FFFFFF);
}
#sign_header{
	z-index: 1;
	position: fixed;
	top: 390;
	right: 211;
	font-size: 21px;
	color: white;
	font-family: 'URWLatinoT';
}
#sign_header1{
	z-index: 1;
	position: fixed;
	top: 415;
	right: 157;
	font-size: 21px;
	color: white;
	font-family: 'URWLatinoT';
}
#sign_pos{
	z-index: 1;
	position: fixed;
	top: 455;
	right: 196;
	width: 120px;
	height: 45px;
}
