/*SECTIONS*/
.book_image_container,
#book_image_container{
  width: 200px;
  height: 275px;
}
#book_image_container{
  background-color: rgba(0,0,0, 0.6);
}
.upload_image_icon{
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	width: 183px;
	height: 253px;
  position: absolute;
  top: 265px;
  left: 472px;
  opacity: 0.6;
  overflow: hidden;
}
.upload_image_icon:hover{
  transform: scale(1.25, 1.25);
  opacity: 1.0;
  
  cursor: pointer;
}
#book_pic_edit{
  opacity: 0.2;
}

/*BOOKSHELF*/
.bookshelf_book{
	width: 145px;
	height: 220px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	display: inline-block;
	padding: 2px;
  position: absolute;
}
.bookshelf_book_container{
	width: 149px;
	height: 258px;
	display: inline-block;
	padding: 0;
  margin-top: 10px;
}
.bookshelf_book_container:hover{
  text-decoration: underline;
  color: gray;
}
.info_section{
	width: 800px;
	height: 750px;
	margin: 40px 85px 20px ;
	font-family: 'Raleway Light' !important;
	font-size: 20px;
}
.shelf_section{
	width: 939px;
	height: auto;
	margin: 20px 22px;
	font-size: 20px;
  font-family: 'Microsoft Yi Baiti';
}
.add_button_container{
	padding-bottom: 15px;
	margin-top: -50px;
}
.info_container{
	margin-left: 10px;
	font-size: 19px;
  font-family: 'Raleway Light' !important;
}
.edit_container{
	width: 66 px;
	padding: 3px 3px;
	border-radius: 2px;
	/*background-color: #DEDCDC;*/
}
.edit_container:hover{
	background-color: #DEDCDC;
}

/*BOOKMARK BUTTON*/
.bookmark_container img {
  border-radius: 2px;
  background-color: #DEDCDC;
}
.bookmarkhover_btn {
  opacity: 0;
  position: relative;
  background-color: red;
  margin-left: 80px;
  padding-left: 50px;
}
.bookmark_btn {
  position: absolute;
}
.bookmark_btn:hover{
  opacity: 0;
  cursor: pointer;
}
.bookmarkhover_btn:hover{
  transition: 0.3s all linear;
  opacity: 1.0;
  cursor: pointer;
}

/*BOOK INFOs*/
.info{
	margin-left: 120px;
	margin-top: 35px;
}
.book_info1{
	margin-top: 5px;
	width: 200px;
	display: inline-block;
  text-align: center;
}
.book_info1a{
	margin-top: 10px;
	width: 200px;
	display:block;
	border-top: #ccc solid 1px;
} 
.book_info2{
	margin-left: 220px;
	margin-top: -490px;
	width: 420px;
}
#book_info2{
	margin-left: 220px;
	margin-top: -410px;
	width: 420px;
}
#description, #details{
	height: 100px;
	resize: none;
}

/*CUSTOM VARS*/
#book_info1_label{
  background-color: rgba(0,0,0,0.1);
}
#book_info1a_label, .book_info1 label{
  font-family: 'Raleway Medium' !important;
}
#book_info1a a{
  text-decoration: none;
}
#book_info1a a:hover{
  text-decoration: underline;
}
.info1_items{
  text-align: center;
}
.info1_items a:hover{
  text-decoration: underline;
}
#prompt{
  color: red;
  font-family: 'Microsoft Yi Baiti';
  font-size: 18px;
}
label{
	display: block;
	padding-top: 5px;
}
a{
  color: gray;
	text-decoration: none;
}
#info_label{
	padding-top: 1em;
  font-size: 25px;
  font-family: 'Raleway Medium' !important;
}
#info_label_title{
  padding-top: 0;
  font-size: 25px;
  padding-bottom: -2px;
  padding-top: 5px;
  font-family: 'Raleway Light' !important;
}
#info_label_title h2{
  font-family: 'Playfair Display' !important;
}
#info_label_title label{
  padding-top: 0;
  font-size: 23px;
  margin-top: -50px;
  color: gray;
}
input[type=text],input[type=password],input[type=tel],input[type=email],textarea{
	margin-left: 10px;
	display: inline;
  font-family: 'Calibri';
  font-size: 18px;
}
#bookshelf{
	font-family: 'GiovanniITCTT' !important; 
	color: #A5A2A1;
	margin-left: 20px;
	font-size:50px;
}
#prev_next{
	margin-left: 850px;
  font-family: 'Microsoft Yi Baiti';
}
.add_cart{
	margin-top: 155px;
	margin-left: 156px;
	width: 122px;
}
#edit_icon{
	padding: 0;
	margin:0;
}
#book_pic{
  margin-top: 1px;
  padding-bottom: 10px;

}
.see_more{
  font-size: 15px;
  padding: 0;
  margin-left: 10px;
}
#description, #details{
  font-family: 'Calibri';
  font-size: 18px;
  padding-left: 5px;
}
.shelf_section label{
  height: 25px;
  text-align: left;
  text-decoration: underline;
  padding-top: 2px;
}

/*Search results*/
#srch_results{
  color: black;
  margin-left: 20px;
  font-size:50px;
}

/*UPLOAD MODAL*/
.fileUpload {
  overflow: hidden;
  margin-left: 232px;
  margin-top: -3px;
}
.fileUpload input[type=file] {
  position: relative;
  width: 7px;
  height: 2px;
  font-size: 5px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.edit_user_pic_section{
  margin-left: 184px;
}

/*---------------------------------------------------*/
/*CUSTOM FOR EDIT DROPDOWN MENU*/
.dropdown_menu {
	  float: right;
    position: relative;
    display: inline-block;
}

.edit_dropdown_content {
	  right: 0;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 105px;
    border-radius: 5px;
    border: solid 1px  #d0cfcf;
    box-shadow: 2px 2px 2px gray;
}

/* Links inside the dropdown */
.edit_dropdown_content a {
    color: black;
    padding: 3px 5px 3px 5px;
    text-decoration: none;
    display: block;
    border-bottom: solid 1px #d0cfcf;
    font-size: 18px;
    color: #828282;
}

/* Change color of dropdown links on hover */
.edit_dropdown_content a:hover {
    background-color: #d0cfcf;
    cursor: pointer;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/*----------------------------------*/
/*BOOKSHELF ADD BUTTON PLACEMENT*/
#btn_container{
	margin-left: 850px;
}
#bookmarks{
  padding-top: 3px;
  padding-bottom: 3px;
}

/*BOOK INFO CONTAINER*/
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.well blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, .15);
}
.well-lg {
  padding: 24px;
  border-radius: 6px;
}
.well-sm {
  padding: 9px;
  border-radius: 3px;
}

/*EDIT BOOK INFO PLACEMENT BUTTONS*/
.edit-btn-container{
	width: 290px;
	margin-left: 490px;
	margin-top: 650px;
}


/*-------------------------EDIT BOOK INFO BUTTONS*/
.btn {
  display: inline-block;
  padding: 6px 18px;
  margin-bottom: 0
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid ;
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  font-size: 18px;
}
.btn-default:focus,
.btn-default.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: #fff;
  border-color: #ccc;
}
.btn-default .badge {
  color: #fff;
  background-color: #333;
}
.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
  font-size: 18px;
}
.btn-danger:focus,
.btn-danger.focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #761c19;
}
.btn-danger:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
  color: #fff;
  background-color: #ac2925;
  border-color: #761c19;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger .badge {
  color: #d9534f;
  background-color: #fff;
}
.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  font-size: 14px;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}
.btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary .badge {
  color: #337ab7;
  background-color: #fff;
}
.btn-link {
  font-weight: normal;
  color: gray;
  /*background-color: white;*/
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #777;
  text-decoration: none;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  font-size: 18px;
}
.btn-success:focus,
.btn-success.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}
.btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  color: #fff;
  background-color: #398439;
  border-color: #255625;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success .badge {
  color: #5cb85c;
  background-color: #fff;
}

/*BOOK INFO TEXTFIELDS*/
.form-control {
  width: auto;
  display: block;
  width: 100%;
  height: 34px;
  padding: 2px 5px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
  font-family: 'Calibri';
  font-size: 18px;
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #eee;
  opacity: 1;
}
.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}
textarea.form-control {
  height: auto;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-2 {
  width: 16.66666667%;
}
