/*CONTAINERS*/
.edit_set_section{
  width: 700px;
  height: auto;
  margin: -20px 140px;
  font-family: 'Raleway Light';
  display: block;
  font-size: 20px;
  padding: 5px;
}
#edit_data{
  width: 500px;
  margin-left: 100px;
  padding-bottom: 15px;
  display: block;
}
#edit_data2{
  margin-top: 259px;
  width: 500px;
  margin-left: 100px;
  padding-bottom: 20px;
  display: block;
}
.edit_data2{
  margin-top: 90px;
  width: 500px;
  margin-left: 100px;
  padding-bottom: 20px;
  display: block;
}
#multi_inputs{
  padding-top: 3px;
  width: auto;
  display: inline;
  text-align: right;
}
.add_btn_container{
  width: 70px;
  display: inline;
  padding-left: 400px;
}
#contact_set{
  border-top: 1px solid rgba(0,0,0,0.2);
}
#edit-btn-container{
  padding-top: 26px;
  padding-left: 280px;
}

/*CUSTOM EDITS*/
#year{
  padding-top: 10px;
}
.add_btn_container a{
  font-size: 18px;
}
#edit_data label,{
  padding: 7px 15px 0;
  font-weight: 700;
}
#edit_data2 label{
  padding-left: 30px;
  font-weight: 700;
}
#multi_inputs content{
  width: 200px;
  padding-right: 5px;
}
.col-xs-set{
  float: left;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 15px;
}
#sections{
  background-color: rgba(0,0,0,0.1);
  padding-left: 10px;
}
#multi_inputs a:hover{
  text-decoration: underline;
}
#action{
  padding: 2px;
}
.re-password{
  padding-top: 13px;
}

/*BOOTSTRAP*/
/*BOOK INFO TEXTFIELDS*/
.form-control-set {
  width: auto;
  display: block;
  width: 190px;
  height: 34px;
  padding: 2px 5px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control-set:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control-set::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control-set:-ms-input-placeholder {
  color: #999;
}
.form-control-set::-webkit-input-placeholder {
  color: #999;
}
.form-control-set::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-control-set[disabled],
.form-control-set[readonly],
fieldset[disabled] .form-control-set {
  background-color: #eee;
  opacity: 1;
}
.form-control-set[disabled],
fieldset[disabled] .form-control-set {
  cursor: not-allowed;
}
textarea.form-control-set {
  height: auto;
}
